.history-text {
    writing-mode: vertical-rl !important;
    text-orientation: upright !important;
    border: 1px solid rgb(30, 132, 172);
    margin-right: 50px !important;
    max-height: 650px !important;
}

@media (max-width : 767px) {
    .history-text {
        writing-mode: horizontal-tb !important;
        text-orientation: upright !important;
        text-align: center;
        max-height: auto !important;
        width: 100% !important;
    }
}