.text-field-color {

    color: red !important;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input::placeholder {
    color: red !important;
}

label[data-shrink=false]+.MuiInputBase-formControl .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
    background: white;
}